body
{
  background-image: url(../logos/fondo.jpg);
  margin: 10px auto;
  width: 80%;
}
header>h1
{
  letter-spacing: 1px; /*Espacio entre letras*/
 /*Transformacion de texto a mayusculas*/
  font-family: 'Englebert', sans-serif; /*Fuente en negritas*/
  text-align: center; /*Alineacion del texto*/
   font-size: 40px;
   align-items: center;
   justify-content: center;
   margin: 30px, 20px;
   animation-name: h1;
   animation-duration: 3s;
   opacity: 0.6;
   animation-fill-mode: forwards;
}




.logo
{
  float: left;
  padding: 20px 0px 0px 20px;/*Superior, derecho, inferior, izquierdo*/
  width: 300px;
  height: 100px;
}
.contenedor
{
  padding: 10px 20px 10px 20px ;
  background: rgb(255, 250, 250);/*Pimer cuadro*/
  border-radius: 0em;/*Superior, derecho, inferior, izquierdo*/
 box-sizing:border-box.
}
section
{
  float: right;
  width: 70%;
  text-align: justify;
  margin-top: 10px;
}
article
{
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 0px;
  border-color: rgb(0, 0, 0);
}
.boton
{
  background-color: rgb(85, 184, 241  ); /*Boton*/
  color: rgb(255, 255, 255); /*Letra de los botones*/
  display: inline-block;
  font-size: 1em;
  margin: 5px;
  padding: 10px 0px;
  text-align: justify;
  width: 140px;
  text-decoration: none;
  box-shadow: 0px 3px 5px #005eff; /*Sombra del boton*/
}
.boton.cuadro
{
  border-radius: 3px;
  box-shadow: 0px 3px 5px #55B8F1;
}
.boton.Azul
{
  background-color: rgb(85, 184, 241  );
  box-shadow: 0px 3px 5px rgba(0, 23, 254, 0.8);
}
.boton:hover
{
  background-color: rgb(27, 12, 179);
  box-shadow: 0px 03px 5px rgb(54, 94, 209);
  padding-top: 7px;
  color: rgba(0, 28, 189, 0.92);
}
aside
{
  float: left;
  width: 20%;
  text-align: justify;
  margin-top: 0px;
}
blockquote
{
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(191, 189, 195);
}
footer
{
  width: 100%; /*establecemos que el header ocupe el 100% del documento*/
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.77);
  margin-bottom: 0px;
  padding: 0px;
  border-radius: 0px 0px 25px 25px;/*Superior, derecho, inferior, izquierdo*/
  border-style: none;
}
.izquierda
{
  float: left;
  padding-left: 200px;
}
footer>p
{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.enlace-footer
{
  font-size: 15px;
  color: rgb(0, 0, 0);
  padding-right: 5px;
  text-decoration: none;
}
.enlace-footer:hover
{
  color: rgb(14, 96, 189);
  text-shadow: 0px 0px 5px rgb(17, 72, 193);
  text-decoration: underline;
}
.botonredes
{
  display: inline-flex;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 100%;
}

.botonredes img:hover{
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  transform: scale(1.3);
}
.botonredes img
{
  width: 25px;
  height: 25px;
}
a.pie
{
font-family: verdana;
color: #0A3C6C;
font-size: 10px;
text-decoration: none;
}
.rad
{
  width: 500px;
  height: 350px;
}

.botonstore
{

display: inline-flex;
width: 40px;
height: 40px;
padding: 0px;
border-radius: 60%;
justify-content: space-around;



}
.botonstore img
{
  width: 200px;
  height: 200px;


}

.botonstore img:hover{
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  transform: scale(1.3);



}


.botona
{
  /*width:70%;
  margin: auto;
  list-style: none;
  padding: 20px;
  border: 2px solid rgb(72, 3, 96);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url(../logos/fondo.jpg);

   border: #DBC8FF  3px solid;*/



}




.botona img:hover {
 -webkit-transform: scale(1.3);
 -moz-transform: scale(1.3);
 transform: scale(1.3);
 box-shadow: 0px 5px 8px #DBC8FF;
 }

 .botona img
 {
   width: 500px;
   height: 250px;
   border:10px;
   border-radius: 0% 0% 0% 0%;
    border: #DBC8FF  3px solid;
    }
