*
{
  margin:0px;
  padding:0px;
}
.nav
{
  margin:auto;
  width:1000px;
  font-family:Arial,Helvetica, sans-serif;
}
ul
{
  list-style:none;
}
.nav > li
{
  float:left;
}
.nav li a
{
  background-color:#1b11d7;
  color:#fff;
  text-decoration:none;
  padding:10px 12px;
  display:block;
}
.nav li a:hover
{
  background-color:#0d02d7;
}
.nav li ul
{ /*Se Oculta el submenú*/
  display:none;
  position:absolute;
  min-width: 100px;
}
.nav li:hover > ul
{/*Mostrar el submenú*/
  display:block;
}
.nav li ul li
{
  position:relative;
}
.nav li ul li ul
{
  right:-140px;
  top:0px;
}
